@font-face {
  font-family: "Bogle";
  src: url("../fonts/Bogle-Black.woff2") format("woff2"),
    url("../fonts/Bogle-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bogle";
  src: url("../fonts/Bogle-Bold.woff2") format("woff2"),
    url("../fonts/Bogle-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bogle";
  src: url("../fonts/Bogle-Italic.woff2") format("woff2"),
    url("../fonts/Bogle-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bogle";
  src: url("../fonts/Bogle-Regular.woff2") format("woff2"),
    url("../fonts/Bogle-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bogle";
  src: url("../fonts/Bogle-BlackItalic.woff2") format("woff2"),
    url("../fonts/Bogle-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Bogle";
  src: url("../fonts/Bogle-BoldItalic.woff2") format("woff2"),
    url("../fonts/Bogle-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}