.bpm-state-box {
  background-color: #fbfbfb;
  min-width: 160px;
  max-width: 200px;
  border: 2px solid #f4731b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0 6px #c4c4c4;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  overflow: hidden;
  height: 54px;

  >div {
    width: 100%;

    >div {
      &:nth-child(1) {
        width: 100%;
      }
    }
  }
}